* {
    padding: 0px;
    margin: 0px;
}

.MainDiv {
    width: 100%;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}